.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

.section {
  color: #fff;
  display: none;
}

.body {
  box-sizing: border-box;
  object-fit: fill;
  background-color: #000;
  margin-top: 90px;
}

.section-2 {
  display: block;
}

.container {
  grid-column-gap: 33px;
  grid-row-gap: 93px;
  flex-flow: column;
  grid-template: "Area"
                 "."
                 / 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 159px;
  display: grid;
}

.text-block {
  box-sizing: border-box;
  float: none;
  clear: none;
  color: #fff;
  text-align: center;
  letter-spacing: normal;
  overflow-wrap: anywhere;
  object-fit: fill;
  border-radius: 0;
  margin-top: 0;
  font-family: Inconsolata, monospace;
  font-size: 10px;
  line-height: 10px;
  position: relative;
  top: -20px;
}

.link {
  margin-left: 0;
}

.link-2 {
  color: #fff;
  text-shadow: 0 1px 1px #0003;
  vertical-align: baseline;
  mix-blend-mode: normal;
  margin-top: 20px;
  margin-left: 129px;
  margin-right: 613px;
  font-family: Inconsolata, monospace;
  font-size: 30px;
  text-decoration: none;
  display: block;
}

.link-2:hover {
  color: #787878;
}

.container-2 {
  margin-top: 32px;
}

.text-block-2 {
  box-sizing: border-box;
  aspect-ratio: auto;
  color: #fff;
  text-align: center;
  letter-spacing: 0;
  text-indent: 0;
  word-break: normal;
  overflow-wrap: normal;
  object-fit: fill;
  object-position: 50% 50%;
  min-width: 0;
  min-height: 0;
  margin: 32px 363px 0;
  padding-bottom: 0;
  font-family: Inconsolata, monospace;
  font-size: 30px;
  line-height: 42px;
  display: block;
}

@media screen and (max-width: 991px) {
  .link-2 {
    object-fit: fill;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 479px;
  }

  .text-block-2 {
    margin-left: 49px;
    margin-right: 30px;
    font-size: 30px;
  }
}

@media screen and (max-width: 767px) {
  .link-2 {
    margin-left: 54px;
    margin-right: 308px;
  }

  .text-block-2 {
    font-size: 30px;
    line-height: 42px;
  }
}

@media screen and (max-width: 479px) {
  .text-block {
    z-index: auto;
    float: none;
    aspect-ratio: auto;
    text-align: center;
    text-overflow: clip;
    white-space: nowrap;
    overflow-wrap: anywhere;
    object-fit: fill;
    font-size: 4px;
    line-height: 4px;
    position: relative;
    overflow: hidden;
  }

  .link-2 {
    margin-top: 7px;
    margin-left: 50px;
    margin-right: 130px;
    font-size: 20px;
    line-height: 29px;
  }

  .text-block-2 {
    font-size: 20px;
    line-height: 26px;
  }
}


